flask
flask-socketio
eventlet
gunicorn
openai
langchain
langchain-openai
python-dotenv
geocoder
psutil
geopy
pyautogui
google-generativeai
langchain-google-genai
edge-tts
groq
langchain-groq
pygame
sounddevice
numpy
yt-dlp
requests
keyboard